#images {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.giphyImg {
    width: 200px;
}
.img-info {
    width: 200px;
}
#loadMore {
    display: none;
}

.tab-content{
    display: none;
}
.active {
    display: block;
}
.hidden {
    display: none!important;
}

#tabs{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.tab{
    width:50%;
}

#buttonsRow {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.buttonTopic {
    margin: 10px 20px;
}